* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #fff;
    font-family: 'Nunito Sans', sans-serif;
}

.banner .banner-header {
    height: 100%;
}

.banner .banner-header .header-text {
    font-size: 2.5rem;
    font-weight: 900;
}

.banner .banner-header .header-content {
    padding: 20px 0 50px 0;
}

.p{
    padding: 25px;
}

.button{
    padding: 17px 50px;
    display: flex;
    justify-content: left;
    color: #fff;
    background-color: #1492E6;
    box-shadow: 0px 16px 48px #00000029;
    border-radius: 50px;
    font-size: 23px;
    outline: none;
    border: none;
}

.card-wrapper {
    flex-direction: row;
    column-gap: 40px;
    row-gap: 40px;
    text-align: center;
}

.card-h{
    font-size: 35px;
    padding: 50px;
    font-weight: bold;
}

.card{
    border-radius: 20px !important;
    box-shadow: 0px 3px 6px #00000029;
    background-color: #fff;
    padding: 20px;
    width: 308px;
    height: 320px;
    text-align: center;
}

.card-h-title{
    padding: 18px;
    font-weight:bold;
    text-align: center;
}

.side{
    padding: 20px;
    font-weight: bold;
}

.side-content{
    font-size: 20px;
    padding: 15px;
    font-weight: 100px;
}

.cards{
    width: 22rem;
    text-align:center;
    border: none;
    font-size: 15px;
}

.odd{
    flex-direction: row;
    display: flex;
}

.even{
    flex-direction: row-reverse;
    display: flex;
}

.middle-content{
    padding: 50px;
}

.table{
    background-color: #F8FAFC;
    display: flex;
    position: relative;
    box-shadow: 0px 16px 48px #00000029;
    border-radius: 42px;
    height: 393px;
}

.img{
    width: 64px;
    height: 63px;
}

.i{
    padding: 30px;
}

.image{
    width: 187px;
    height: 181px;
}

.photo{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    list-style-type: none;
}

.list{
    list-style-type: none;
    font-size: 16px;
    text-decoration: none;
    text-align: center;
    color: black;
    font-weight: bold;
}

.frame{
    width: 92px;
    height: 92px;
}

.footer{
    background-color: black;
    height: 365px;
    padding: 50px;
}

.foot{
    color: #fff;
    font-size: 20px;
    justify-content:center;
    padding: 250px 0 50px 0;
    
}

.star{
    width: 50px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.stars{
    width: 15px;
    height: 15px;
}

.c-details{
    font-weight: 300;
    font-size: 13px;
    flex: 1;
}

.c-details .c-detail-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.c-details .list-inline-small {
    margin: 0;
    padding: 0;
}

.text{
    padding: 25px;
    font-size: 13px;
}

.card-style{
    width: 18rem;
    height: 17rem;
    box-shadow: 0px 16px 40px #00000029;
    border-radius: 20px !important;
    background-color: #fff;
    padding: 15px;
    
}

.card-wrappers {
    flex-direction: row;
    column-gap: 25px;
    row-gap: 25px;
    position: absolute;
    left: 100px;
    bottom: -60px;
}

.buttons{
    width: 62px;
    height: 63px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0px 7px 17px #00000029;
    font-size: 25px;
    border: none;
    font-weight: bold;
    
    
}

.but{
    position: absolute;
    right: -31px;
    bottom: 70px;
}

@media (max-width: 1024px) {
    .card{
        padding: 20px;
        font-size: 15px;
    }

    .card-wrapper{
        width: auto;
        flex-direction: row;
        column-gap: 40px;
        row-gap: 40px;
    }

    .cards{
        width: 22rem;
    }

    .card-style{
        width: auto;
        height: auto;
        padding: 10px;
    }

    .card-wrappers{

    }

    .text{
        font-size: 13px;
    }

    .but{
        display: none;
        /* padding: 250px 0px 0px 800px */
    }

}

@media (max-width: 770px) {
    .card{
        
        padding: 20px;
        font-size: 11px;
    }

    .card-wrapper{
        flex-direction: row;
    column-gap: 30px;
    row-gap: 30px;
    }

    .cards{
        width: 16rem;
        font-size: 13px;
    }

    .card-style{
        height: auto;
        padding: 10px;
        width: auto; 
    }

    .card-wrappers{
        column-gap: 10px;

    }

    .text{
        font-size: 10px;
    }
    
    .but{
        padding: 250px 0px 0px 560px ;
    }

    .stars{
        width: 10px;
        height: auto;
    }

    .p{
        padding: 15px;
    }

}

@media (max-width: 440px) {
    .card{
        padding: 20px;
        font-size: 15px;
        width: 260px;
    }
    .card-wrapper{
        flex-direction: column;
        width: auto;
        font-size: 15px;
        row-gap: 30px;
    }

    .card-wrappers{
        flex-direction: column;

    }

    .card-style{
        width: auto;
        height: auto;
    }

    .table{
        height: 1250px;
    }

    .but{
        padding: 1200px 0 0 90px;
    }

    .text{
        font-size: 13px;
    }

    .photo{
        display: inherit;
    }
}

@media (max-width: 320px) {
    .table{
        height: 1400px;
    }

    .but{
        padding: 1350px 0 0 90px;
    } 

    .middle-content{
        padding: 30px;
    }

    .card{
        width: 230px;
        padding: 15px;
    }
}